.list-group
	a(href="/dashboard").list-group-item Информация о сервере
	if(app.user.IsAdmin())
		a(href="/man/srv").list-group-item Управление Сервером 
	if(app.user.IsAdmin())
		a(href="/man/package").list-group-item Управление пакетами 
	if(app.user.IsAdmin())
		a(href="/man/users").list-group-item Управление пользователями
	a(href="/app").list-group-item Управление приложениями Nodejs
	a(href="#").list-group-item Управление пакетами npm
	a(href="#").list-group-item Мониторинг системы 
	a(href="#").list-group-item Управление базами данных 
	a(href="/test").list-group-item Test