.list-group
	a(href="/dashboard").list-group-item.list-group-item-success Информация о сервере
	if(app.user.IsAdmin())
		a(href="/man/srv").list-group-item.list-group-item-success Управление Сервером 
	if(app.user.IsAdmin())
		a(href="/man/package").list-group-item.list-group-item-success Управление пакетами 
	if(app.user.IsAdmin())
		a(href="/man/users").list-group-item.list-group-item-success Управление пользователями
	a(href="/app").list-group-item.list-group-item-success Управление приложениями Nodejs
	a(href="/npm").list-group-item.list-group-item-success Управление пакетами npm
	a(href="#").list-group-item.list-group-item-danger Мониторинг системы 
	a(href="/dbs").list-group-item.list-group-item-success Управление базами данных 