extends layout

block content
	h1= title
	p Личный кабинет
	table
		tr
			td
				ul
					li: a(href="/app") Мои приложения
					li: a(href="/app/install") Добавить новое приложение
					li: a(href="/") На главную
			td
				table(align='left', border='1', cellpadding='1', cellspacing='1', style='width: 600px')
						tbody
							tr
								td п/п
								td Название
								td Ip-адрес
								td Порт
								td Статус
							tr
								td  
								td  
								td  
								td  
								td  
								td  
								td  