extends layout

block content
    h1 Страница авторизации и регистрации
    h2 Авторизация
    p #{message}
    form(method="post",action="/auth/login")
        input(type="text", name="login")
        br
        input(type="password", name="pass")
        button Log in
        p #{error}

    h2 Регистрация
    form(method="post", action="/auth/reg")
        div Права нового пользователя:
        div: select(id="role", name="role")
           option(value="admin")  Администратор
           option(value="user")  Пользователь
        div Логин:
        div: input(type="text", name="login")
        div Пароль:
        div: input(type="password", name="pass")
        button Зарегистрировать
    p #{status}