extends layout

block content
  h1= title
  p Личный кабинет
  ul
    li: a(href="/ajax/info") Информация о сервере 
    li Управление пакетами 
    li Управление пользователями 
    li Управление приложениями Nodejs
    li Управление пакетами npm
    li Мониторинг системы
    li Управление базами данных