extends layout

block content
    h1= title
    p User:  #{User}
    form(method="post")
        input(type="text", name="login")
        br
        input(type="password", name="pass")
        button Log in


    p Регистрация
    form(method="post")
        input(type="text", name="login2")
        br
        input(type="password", name="pass2")
        input(type="text", name="reg", value="ok", style="display:none")
        button Зарегистрировать




