extends layout

block content
	h1= title
	-var vis
	-if(menu == 'install'){vis = ''}else{vis = 'none'}

		
	p Личный кабинет
		ul
			li: a(href="/man/package/list") Список пакетов
			li: a(href="/man/package/install") Установить пакет
			li: a(href="/man/package/update") Обновить пакет
			li: a(href="/man/package/update_all") Обновить все пакеты
			li: a(href="/man/package/uninstall") Удалить пакет
			li: a(href="/") На главную
	form(method="post" id ="install" action="/install", style="display:none")
		div Имя пакета:
		div: input(type="text", name="pack_name")
		button Удалить
	p #{status}
	script.
		document.getElementById('#{menu}').style.display = '#{vis}';