extends layout

block content
	h1= title
	p Личный кабинет
	table
		tr
			td
				ul
					li: a(href="/man/package/list") Список пакетов
					li: a(href="/man/package/install") Установить пакет
					li: a(href="/man/package/upgrade") Обновить пакет
					li: a(href="/man/package/update_all") Обновить все пакеты
					li: a(href="/man/package/uninstall") Удалить пакет
					li: a(href="/") На главную
			td
				if(menu == 'install' && app.user.IsAdmin())
					form(method="post" id ="install" action="/man/package/install")
						div Имя пакета:
						div: input(type="text", name="packname")
						button Установить
				if(menu == 'uninstall' && app.user.IsAdmin())
					form(method="post" id ="uninstall" action="/man/package/uninstall")
						div Имя пакета:
						div: input(type="text", name="packname")
						button Удалить
				if(menu == 'upgrade' && app.user.IsAdmin())
					form(method="post" id ="upgrade" action="/man/package/upgrade")
						div Имя пакета:
						div: input(type="text", name="packname")
						button Upgrade
				if(menu == 'update_all' && app.user.IsAdmin())
					form(method="post" id ="update_all" action="/man/package/update_all")
						button Обновить всё
						div Может занять много времени!   
						div #{app.fn.dateFormat(d,'dd.mm.yy hh:mm:ss')}
	details(open)
		summary 'Вывод из консоли'
		div
			-if(status){
			-for(i=0;i<status.length;i++){
			-p = status[i]
			div #{p}
			-}}
	details
		summary 'Вывод из консоли Ошибку'
		div #{errstd}