extends layout

block content
	h1= title

	.col-sm-6
		.panel.panel-default
			.panel-heading
				.panel-title Выключить
			.panel-body.ctext
				a(href="/man/srv/shutdown").btn.btn-lg.btn-success Выполнить
	.col-sm-6
		.panel.panel-default
			.panel-heading
				.panel-title Перезагрузить
			.panel-body.ctext
				a(href="/man/srv/reboot").btn.btn-lg.btn-success Выполнить

	p #{status}