block menu
    ul
        li: a(href="/man/users/create") Создать пользователя
        li: a(href="/man/users/edit") Изменить пользователя
        li: a(href="/man/users/editperm") Изменить права пользователя
        li: a(href="/man/users/delete") Удалить пользователя