extends layout

block content
    h1 Личный кабинет
    p #{title}
    table
        tr 
            td: include user_menu
            td: form(action="/auth/edit" method="post")
                div: select(id="xxx", name="xxxyyy")
                    -for(var i = 0;i<list_user.length;i++){
                    -var list = list_user[i].username
                    option(value="#{list}")  #{list}
                    -}
                div: input(type="submit" value="Изменить")
    p #{status}
    br
    br
    br
    a(href="/auth/logout") Сменить пользователя