extends layout

block content
  h1 Личный кабинет
  p #{title}
  table
      tr
        td: include user_menu
        td: br
  br
  br
  br
  br
  p #{permission}
  a(href="/auth/logout") Сменить пользователя