extends layout

block content
    h1 Личный кабинет
    p #{title}
    table
        tr 
            td: include user_menu
            td: form(method="post", action="/auth/reg")
                    div Логин:
                    div: input(type="text", name="login")
                    div Пароль:
                    div: input(type="password", name="pass")
                    button Зарегистрировать
    p #{status}
    br
    br
    br
    a(href="/auth/logout") Сменить пользователя
