extends layout

block content
  h1 Личный кабинет
  p #{title}
  table
      tr
        include user_menu
        td
            form(method="post", action="/auth/reg")
                input(type="text", name="login")
                br
                input(type="password", name="pass")
                button Зарегистрировать
  br
  p #{status}
  br
  br
  br
  a(href="/auth/logout") Сменить пользователя
